#content {
  width: 1000px;
  margin: 0 10% 0 15%;
}

.photo {
  width: 480px;
  height: 270px;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#video {
  display: flex;
  flex-direction: column;
  align-items: center;
}